.aboutus {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 120px;
  margin-top: 13px; }

body {
  background-color: #1b340b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

.box {
  margin-top: 13px; }

.box1 {
  font-size: 120px;
  color: #f20;
  padding: 20px; }

.wrapper {
  width: 20px; }

.content .row {
  width: 1366px; }
  .content .row span {
    color: #f20; }
    .content .row span ul {
      list-style: none; }
      .content .row span ul .box {
        margin-top: 13px; }

.box {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 120px; }

.wrapper {
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 120px; }

.btn {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 120px; }

.box_01 {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 30px; }

.nav h1 {
  font-size: 20px; }

.wrapper h1 {
  font-size: 30px; }

.box-circle {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.box-btn {
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.box-circle.btn {
  background-color: #f20; }

.box-circle .btn_01 {
  background-color: #fff; }

a {
  color: #000; }

a:hover {
  color: blue; }

a {
  color: #000; }
  a:hover {
    color: blue; }
  a::before {
    content: ''; }
  a::after {
    content: ''; }

.box_100, .box_a, .box_b {
  width: 100px;
  height: 200px;
  padding: 10px; }

.box_a {
  background-color: #f20; }

.box_b {
  background-color: blue; }

.box_c {
  background-color: blue;
  width: 100px;
  height: 200px;
  padding: 10px; }

.box_d {
  width: 300px;
  border: 1px solid #000; }

.wrapper_inner #text_box {
  font-size: 40px;
  color: #f20;
  background-image: url("./images/poter.jpg");
  width: 50%;
  height: 100%; }

.box_06 {
  width: 200px;
  height: 90px;
  padding: 50px;
  font: 5px;
  color: #050709;
  margin: -3000px; }

.box_07 {
  width: 33px;
  height: 13px;
  padding: 15px; }

body {
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px; }

h1 {
  font-size: 45px; }

h2 {
  font-size: 39px; }

h3 {
  font-size: 34px; }

h4 {
  font-size: 26px; }

h5 {
  font-size: 13px; }

.col-1 {
  width: 4.16667%;
  height: 30px; }

.col-2 {
  width: 8.33333%;
  height: 30px; }

.col-3 {
  width: 12.5%;
  height: 30px; }

.col-4 {
  width: 16.66667%;
  height: 30px; }

.col-5 {
  width: 20.83333%;
  height: 30px; }

.col-6 {
  width: 25%;
  height: 30px; }

.col-7 {
  width: 29.16667%;
  height: 30px; }

.col-8 {
  width: 33.33333%;
  height: 30px; }

.col-9 {
  width: 37.5%;
  height: 30px; }

.col-10 {
  width: 41.66667%;
  height: 30px; }

.col-11 {
  width: 45.83333%;
  height: 30px; }

.col-12 {
  width: 50%;
  height: 30px; }

.col-13 {
  width: 54.16667%;
  height: 30px; }

.col-14 {
  width: 58.33333%;
  height: 30px; }

.col-15 {
  width: 62.5%;
  height: 30px; }

.col-16 {
  width: 66.66667%;
  height: 30px; }

.col-17 {
  width: 70.83333%;
  height: 30px; }

.col-18 {
  width: 75%;
  height: 30px; }

.col-19 {
  width: 79.16667%;
  height: 30px; }

.col-20 {
  width: 83.33333%;
  height: 30px; }

.col-21 {
  width: 87.5%;
  height: 30px; }

.col-22 {
  width: 91.66667%;
  height: 30px; }

.col-23 {
  width: 95.83333%;
  height: 30px; }

.col-24 {
  width: 100%;
  height: 30px; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

.offset-12 {
  margin-left: 100%; }

.box_1 {
  width: 1px; }

.box_2 {
  width: 2px; }

.box_3 {
  width: 3px; }

.box_4 {
  width: 4px; }

.box_5 {
  width: 5px; }

.box_6 {
  width: 6px; }

.box_7 {
  width: 7px; }

.box_8 {
  width: 8px; }

.box_9 {
  width: 9px; }

.box_10 {
  width: 10px; }

.a01 {
  background-image: url("/images/a01.png");
  width: 100px;
  height: 35px; }

.a02 {
  background-image: url("/images/a02.png");
  width: 100px;
  height: 35px; }

.a03 {
  background-image: url("/images/a03.png");
  width: 100px;
  height: 35px; }

.a04 {
  background-image: url("/images/a04.png");
  width: 100px;
  height: 35px; }

.etrx_01 {
  background-image: url("/images/etrx_01.png");
  width: 100px;
  height: 35px; }

.don01 {
  background-image: url("/images/you.png");
  width: 100px;
  height: 35px; }

.don02 {
  background-image: url("/images/me.png");
  width: 100px;
  height: 35px; }

.don03 {
  background-image: url("/images/it.png");
  width: 100px;
  height: 35px; }

.box-color {
  background-color: #fff; }

body .green {
  background-color: white; }
  body .green .wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-top: 120px; }
