body {
  background-color: #6bf012;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

.box {
  margin-top: 200px; }

.box1 {
  font-size: 120px;
  color: #f20;
  padding: 20px; }

.wrapper {
  width: 20px; }

.content .row {
  width: 1366px; }
  .content .row span {
    color: #f20; }
    .content .row span ul {
      list-style: none; }
      .content .row span ul .box {
        margin-top: 200px; }
