html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  background-color: #5409cd;
  border: 1px solid #000; }
  body .box {
    width: 200px;
    height: 40px;
    margin-bottom: 5px; }
  body .btn {
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #fff;
    color: #000;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 15px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer; }
  body .box-red {
    background-color: #f20; }
  body .box-blue {
    background-color: #08ccee; }
  body .section {
    width: 100%;
    height: 100vh;
    color: white;
    border-bottom: 1px solid #f20;
    padding: 10px; }
  body .section02 {
    background-color: #007bff;
    padding: 20px; }
    body .section02 .box {
      margin-bottom: 10px; }
  body .section04 {
    background-color: #7400bb;
    padding: 30px; }
    body .section04 .wrapper {
      background-color: #7a1bff;
      width: 80%;
      height: 500px;
      margin-left: auto;
      margin-right: auto; }
      body .section04 .wrapper .box-area {
        width: 250px;
        height: 100px;
        background-color: #79fe8d;
        position: relative;
        box-shadow: 0 2px 15px 3px rgba(0, 0, 0, 0.1); }
      body .section04 .wrapper .a01 {
        left: 450px !important;
        top: 230px !important; }
      body .section04 .wrapper .a02 {
        left: 10px !important;
        top: 310px !important; }
      body .section04 .wrapper .a03 {
        left: 110px !important;
        top: 410px !important; }
  body .section05 {
    padding-top: 100px;
    background-color: #fcfaaf; }
    body .section05 .title {
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      height: 50px;
      text-align: center;
      background-color: #fa8100;
      font-size: 30px; }
    body .section05 .slogan {
      margin-top: 10px;
      padding-top: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 600px;
      height: 50px;
      text-align: center;
      background-color: #fa8100; }
