$margintop: 200px;
$bgcolor: rgb(107, 240, 18);
$fontfamily :'Gill Sans',
'Gill Sans MT',
Calibri,
'Trebuchet MS',
sans-serif;
body {
    background-color: $bgcolor;
    font-family: $fontfamily;
}

.box {
    margin-top: $margintop;
}

.box1 {
    font-size: 120px;
    color: #f20;
    padding: 20px;
}

.wrapper {
    width: 20px;
}

// .container .row {
//  width: 1366px;
// }
.content {
    .row {
        width: 1366px;
        span {
            color: #f20;
            ul {
                list-style: none;
                .box {
                   margin-top: $margintop;
                }
            }
        }
    }
}