//mixin
@mixin margin-auto() {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-top: 120px;
}


//傳值
@mixin margin($left:null, $right:null, $fontsize:null) {
    margin-left: $left;
    margin-right: $right;
    font-size: $fontsize;
}


@mixin border-radius($num) {
    -moz-border-radius: $num;
    -ms-border-radius: $num;
    -o-border-radius: $num;
    -webkit-border-radius: $num;
    border-radius: $num;
}


// @mixin body($font-base-size) {
//     body {
//      font-size: $font-base-size;
//      padding-left: ceil($font-base-size * 1.1);
//      padding-right : ceil($font-base-size * 1.1);

//     }
//     h1 { font-size: ceil($font-base-size * 3.4)}
    
//     h2 { font-size: ceil($font-base-size * 3)}
    
//     h3 { font-size: ceil($font-base-size * 2.6)}
    
//     h4 { font-size: ceil($font-base-size * 2)}
    
//     h5 { font-size: ceil($font-base-size * 1)}
    
//     }


@mixin respond($breakpoint) {
    //手機
    @if $breakpoint=="small" {
        @media all and (max-width: $small) {
            @content;
        }
    }
    //平板
    @else if $breakpoint=="medium" {
        @media all and (min-width: $medium) {
            @content;
        }
    }
    //桌機
    @else if $breakpoint=="desktop" {
        @media all and (min-width: $desktop) {
            @content;
        }
    }
}

